</main>

<footer>
  <hr>
  <div class="footer-container">
    <!-- Social Icons -->
    <div>
      <ul class="footer-social-icons">
        <li>
          <a href="https://twitter.com/imbutogrants" style="color: #1DA1F2;" target="_blank"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a href="https://facebook.com/imbutogrants" style="color: #1877F2;" target="_blank"><i class="fab fa-facebook"></i></a>
        </li>
		<li>
		  <a href="https://instamram.com/imbutogrants" style="color: #E1306C;"><i class="fab fa-instagram"></i></a>
		</li>	
        <li>
          <a href="mailto:imbuto.grants@gmail.com" style="color: #8FBC8F;"><i class="fas fa-envelope"></i></a>
        </li>
		
      </ul>
    </div>
    <!-- Organization Name -->
    <p>&copy; {{ dateFormat "2006" now }} Imbuto Grants</p>
  </div>
</footer>

</body>
</html>
